@model Prescriptor.Models.Prescription
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrugName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DrugSubmissionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugSubmissionDate))
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Outdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Outdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
