@model IEnumerable<Prescriptor.Models.Prescription>

@{
    ViewData["Title"] = "Prescriptions";
}

<h2>Prescriptions</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">@Html.DisplayNameFor(model => model.ID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DrugNameSortParam"]">@Html.DisplayNameFor(model => model.DrugName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DrugSubmissionDateSortParam"]">@Html.DisplayNameFor(model => model.DrugSubmissionDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientIdSortParam"]">@Html.DisplayNameFor(model => model.PatientID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientNameSortParam"]">@Html.DisplayNameFor(model => model.Patient.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PatientLastNameSortParam"]">@Html.DisplayNameFor(model => model.Patient.LastName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PaymentMethodSortParam"]">@Html.DisplayNameFor(model => model.PaymentMethod)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OutdatedSortParam"]">@Html.DisplayNameFor(model => model.Outdated)</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugSubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
